* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url(./ciudadela.jpg);
    background-position-y: bottom;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    height: 80px;
    background-color: rgb(158, 9, 9);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    height: 100px;

}

nav a {
    font-weight: 600;
    padding-right: 40px;
}